language: "en"

pipeline:
  - name: "nlp_spacy"
  - name: "tokenizer_spacy"
  - name: "intent_featurizer_spacy"
  - name: "intent_classifier_sklearn"
  - name: "ner_crf"
  - name: "ner_synonyms"
  - name: "ner_duckling_http"
    url: "http://0.0.0.0:8000"
    dimensions: ["time", "duration"]
    timezone: "Europe/Kiev"

